<form>
    <p class="notes">
        {{localize "FITGD.Settings.CompendiumUtils.Hint"}}
    </p>

    <div class="form-group">
        <label>{{localize "FITGD.Settings.CompendiumUtils.Sync"}}</label>
        <div class="form-fields">
            <button type="button" id="sync-equipment-btn">
                <i class="fas fa-sync"></i> {{localize "FITGD.Settings.CompendiumUtils.SyncButton"}}
            </button>
        </div>
        <p class="notes">
            {{localize "FITGD.Settings.CompendiumUtils.SyncHint"}}
            <br>
            <strong>{{localize "FITGD.Settings.CompendiumUtils.RequireGM"}}</strong>
        </p>
    </div>
</form>