<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Trait Name"/></h1>
    </div>
  </header>

  <div class="sheet-body">
    <div class="form-group">
      <label>Category</label>
      <select name="system.category">
        <option value="role" {{#if (eq system.category "role")}}selected{{/if}}>Role</option>
        <option value="background" {{#if (eq system.category "background")}}selected{{/if}}>Background</option>
        <option value="scar" {{#if (eq system.category "scar")}}selected{{/if}}>Scar</option>
        <option value="flashback" {{#if (eq system.category "flashback")}}selected{{/if}}>Flashback</option>
        <option value="grouped" {{#if (eq system.category "grouped")}}selected{{/if}}>Grouped</option>
      </select>
    </div>

    <div class="form-group">
      <label>Disabled</label>
      <input type="checkbox" name="system.disabled" {{checked system.disabled}}/>
      <p class="notes">Trait is disabled when leaned into, and can be re-enabled via Rally.</p>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea name="system.description" rows="4">{{system.description}}</textarea>
    </div>
  </div>
</form>
